{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
            <div class="row justify-content-center">
                <div class="col-xl-2 col-md-3 col-sm-4 col-5">
                    <div class="input-group my-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-bank2"></i>
                        </span>
                        <input type="text" autofocus class="form-control" name="symbol" placeholder="Symbol">
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-2 col-md-3 col-sm-4 col-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="bi bi-list-ol"></i>
                        </span>
                        <input type="text" class="form-control" name="shares" placeholder="Share Amount">
                    </div>
                </div>
            </div>
        <button class="btn btn-success my-2" type="submit">Purchase Stock</button>
    </form>
{% endblock %}
