{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <h4 class="fst-italic"> Add more cash to your account below! </h4>
    <h5 class="fst-italic"> Please note that your the max balance is $20,000 </h5>
    <form action="/add-cash" method="post" class="my-4">
        <div class="row justify-content-center">
            <div class="col-auto">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="cash" placeholder="Enter Cash Allocation" type="text">
            </div>
            <div class="col-auto">
                <button class="btn btn-success" type="submit">Add Cash</button>
            </div>
        </div>
    </form>
{% endblock %}
